In [39]:
from models import SQLHandler
import pandas as pd
from nltk.tokenize import sent_tokenize, word_tokenize
import time
pd.set_option('display.max_rows', 500)
pd.options.display.max_colwidth = 100

In [5]:
# fetch data
counter = 0
flag = True
handler = SQLHandler()
handler.connect_table('job_postings')
df = pd.DataFrame(columns=['id', 'date', 'company', 'title', 'meta', 'text', 'src_lang', 'text_en', 'test_data'])

while flag: 
    row = handler.return_row()
    
    if row == None:
        flag = False
        continue
        
    if row[7] != None:
        df.loc[counter] = list(row)
    
    counter += 1
    

print("Found {} jobs in database.".format(counter))
print("Of which {} where translated into english.".format(df.shape[0]))

Found 11020 jobs in database.
Of which 6432 where translated into english.

In [6]:
# map indeed company names to prefedined company names. 
d_comp = {
    'adidas': 'adidas',
    'H&M': 'h&m',
    'BMW AG': 'bmw',
    'ZARA': 'zara',
    'EDF': 'edf',
    'BMW': 'bmw',
    'ENDEL ENGIE': 'engie',
    'Engie Ineo': 'engie',
    'Volkswagen AG': 'volkswagen',
    'AUDI AG': 'audi',
    'ENGIE': 'engie',
    'Renault': 'renault',
    'Peugeot': 'peugeot',
    'AUDI BRUSSELS': 'audi',
    'E.ON Energidistribution AB': 'e.on',
    'E.ON': 'e.on',
    'Enel': 'enel',
    'BMW Group France': 'bmw',
    'Volvo Group': 'volvo',
    'RWE Renewables GmbH': 'rwe',
    'ENGIE Deutschland GmbH': 'engie',
    'BESTSELLER': 'bestseller',
    'Daimler TSS GmbH': 'daimler-ag',
    'BV Bestseller Verlag GmbH': 'bestseller',
    'BMW Group': 'bmw',
    'Louis Vuitton': 'louis-vuitton',
    'ENGIE Axima': 'engie',
    'Porsche Zentrum Kassel': 'porsche-ag',
    'Louis Vuitton Malletier': 'louis-vuitton',
    'Volkswagen': 'volkswagen',
    'ENGIE IT': 'engie',
    'Primark': 'primark',
    'Daimler AG': 'daimler-ag',
    'JD Sports Fashion Germany GmbH': 'jd-sports-fashion-plc',
    'Volkswagen Group': 'volkswagen',
    'Daimler Brand & IP Management ': 'daimler-ag',
    'RWE Power AG': 'rwe',
    'SEAT': 'seat',
    'Porsche Zentrum Lennetal': 'porsche-ag',
    'PUMA': 'puma',
    'Porsche AG': 'porsche-ag',
    'Ørsted': 'orsted',
    'Daimler Group Services Berlin ': 'daimler-ag',
    'Renault Retail Group Deutschla': 'renault',
    'Endel ENGIE': 'engie',
    'JD Sports': 'jd-sports-fashion-plc',
    'ENGIE SA': 'engie',
    'Porsche Leipzig GmbH': 'porsche-ag',
    'BMW Finance': 'bmw',
    'ENGIE SOLUTION': 'engie',
    'Volkswagen Automobile Berlin G': 'volkswagen',
    'RWE AG': 'rwe',
    'Seat': 'seat',
    'EON': 'e.on',
    'BMW Centrauto': 'bmw',
    'BMW Group Belux': 'bmw',
    'Skoda Autohaus Liebe': 'skoda',
    'Porsche Niederlassung Stuttgar': 'porsche-ag',
    'E.On': 'e.on',
    'VOLVO CARS GENT': 'volvo',
    'Bestseller': 'bestseller',
    'Volkswagen Zentrum Fulda GmbH ': 'volkswagen',
    'ENDESA, S.A.': 'endesa',
    'E.ON Energilösningar AB': 'e.on',
    'Volkswagen Financial Service': 'volkswagen',
    'EDF Energies Nouvelles': 'edf',
    'RWE Technology International G': 'rwe',
    'RENAULT ENGLOS': 'renault',
    'Porsche Niederlassung Berlin': 'porsche-ag',
    'Volkswagen Automobile Hamburg': 'volkswagen',
    'Audi': 'audi',
    'RWE Generation SE': 'rwe',
    'Porsche Zentrum Magdeburg': 'porsche-ag',
    'BMW & MINI': 'bmw',
    'BMW Bank GmbH': 'bmw',
    'ENGIE Digital': 'engie',
    'Orsted': 'orsted',
    'Renault Sport': 'renault',
    'Pandora Jewelry': 'pandora-jewelry',
    'RWE Supply & Trading GmbH': 'rwe',
    'Volkswagen Automobile Frankfur': 'volkswagen',
    'Engie Axima': 'engie',
    'Pandora': 'pandora-jewelry',
    'Porsche Financial Services Gmb': 'porsche-ag',
    'Porsche Zentrum Lörrach': 'porsche-ag',
    'Porsche Zentrum Karlsruhe': 'porsche-ag',
    'VOLVO GROUP BELGIUM': 'volvo',
    'Volkswagen Retail Dienstleistu': 'volkswagen',
    'Daimler Gastronomie GmbH': 'daimler-ag',
    'Réseau BMW France': 'bmw',
    'Skoda Autohaus H. Tietjen': 'skoda',
    'Porsche Zentrum Aachen': 'porsche-ag',
    'Porsche Zentrum Bamberg': 'porsche-ag',
    'Daimler Protics GmbH': 'daimler-ag',
    'ZARA BE': 'zara',
    'RWE': 'rwe',
    'BMW Distribution': 'bmw',
    'BESTSELLER BELGIUM': 'bestseller',
    'BMW Discar': 'bmw',
    'Volkswagen Financial Services': 'volkswagen',
    'Daimler Real Estate GmbH': 'daimler-ag',
    'PUMA NORWAY AS': 'puma',
    'Zara': 'zara',
    'Alphabet Fuhrparkmanagement Gm': 'unknown',
    'Bestseller Textilhandels GmbH': 'bestseller',
    'Porsche Niederlassung Hamburg': 'porsche-ag',
    'Volkswagen Gebrauchtfahrzeugha': 'volkswagen',
    'BMW M GmbH': 'bmw',
    'Engie Digital': 'engie',
    'Porsche Zentrum Landshut': 'porsche-ag',
    'Volkswagen Group Services': 'volkswagen',
    'VOLVO': 'volvo',
    'Porsche Zentrum Allgäu': 'porsche-ag',
    'Porsche Zentrum Dortmund': 'porsche-ag',
    'ENGIE Refrigeration GmbH': 'engie',
    'Fortum': 'fortum',
    'Skoda Centrum Düsseldorf GmbH ': 'skoda',
    'COFELY': 'engie',
    'H & M - HENNES & MAURITZ': 'h&m',
    'Volvo Group Trucks Central Eur': 'volvo',
    'Endesa': 'endesa',
    'BMW CH': 'bmw',
    'BMW Financial Services': 'bmw',
    'Porsche Zentrum Darmstadt': 'porsche-ag',
    'Porsche Zentrum Saarland': 'porsche-ag',
    'Porsche Deutschland GmbH': 'porsche-ag',
    'Škoda': 'skoda',
    'Volkswagen Trelleborg': 'volkswagen',
    'Skoda Stockholm': 'skoda',
    'Porsche Zentrum Kiel': 'porsche-ag',
    'Engie': 'engie',
    'ENGIE GBS': 'engie',
    'PORSCHE': 'porsche-ag',
    'ENGIE Axima Germany GmbH': 'engie',
    'ENGIE Austria': 'engie',
    'Porsche Zentrum Bayreuth': 'porsche-ag',
    'Bestseller NL (Doek Retail)': 'bestseller',
    'RENAULT GRASSER': 'renault',
    'Porsche Zentrum Baden-Baden': 'porsche-ag',
    'Porsche Zentrum Mannheim': 'porsche-ag',
    'RENAULT CARVIN': 'renault',
    'BESTSELLER WHOLESALE BENELUX B': 'bestseller',
    'JD': 'jd-sports-fashion-plc', 
    'SSE plc': 'sse-plc', 
    'BMW (UK) Ltd.': 'bmw', 
    'BMW Financial Services (GB) Lt': 'bmw', 
    'EDF Energy Limited': 'edf', 
    'EDF Trading': 'edf', 
    'BMW Group Retail': 'bmw',
    'TaylorMade': 'unknown', 
    'National Grid': 'national-grid', 
    'Volkswagen Commercial Vehicles': 'volkswagen',
    'Renault UK': 'renault',
    'JD Sports Fashion PLC': 'jd-sports-fashion-plc',
    'BMW Hams Hall Motoren GmbH': 'bmw', 
    'ENGIE Laborelec': 'engie', 
    'Audi Brussels': 'audi',
    'Skoda': 'skoda', 
    'Ørsted A/S': 'orsted', 
    'BMW Car IT GmbH': 'bmw', 
    'adidas sport GmbH': 'adidas',
    'Daimler Mobility Services GmbH': 'daimler-ag', 
    'ENGIE UK': 'engie', 
    'Gucci America Inc': 'gucci',
    'Alphabet International GmbH': 'unknown', 
    'E.ON Sverige': 'e.on',
    'Pandora Sutton Coldfield': 'pandora-jewelry', 
    'Bestsellers Ltd': 'bestseller', 
    'Volvo': 'volvo',
    'H&M Group Customer Service Cen': 'h&m', 
    'BMW Group Northern Europe': 'bmw',
    'Swindon Pressings Ltd.': 'bmw', 
    'BMW Northern Europe': 'bmw',
    'H&M Customer Service Center': 'h&m', 
    'Zara Sverige AB': 'zara',
    'ENGIE Lab CRIGEN': 'engie', 
    'E.ON UK': 'e.on', 
    'PANDORA': 'pandora-jewelry',
    'SKODA BORDEAUX': 'skoda', 
    'Volvo Entreprenørmaskiner A/S': 'volvo', 
    'Engie Green': 'engie',
    'VOLKSWAGEN FINANCIAL SERVICES': 'volkswagen', 
    'RENAULT ARRAS': 'renault',
    'Porsche Zentrum Hegau-Bodensee': 'porsche-ag', 
    'Porsche Zentrum München Olympi': 'porsche-ag'
}

In [7]:
# find missing mappings between indeed company names and 
# predefined company names and put the "missing" placeholder 
df['comp_name'] = df['company'].apply(lambda x: d_comp[x] if x in d_comp.keys() else 'missing')

In [8]:
# count whether a company name was not matched in the 
# d_comp dictionary assigned above. 
# if other than 0, add mapping to dict
sum(df['comp_name'] == 'missing')

0

In [9]:
# print which company names do not have a mapping yet
df[df['comp_name'] == 'missing']['company'].unique()

array([], dtype=object)

In [10]:
# we need this statistic to be a bit balanced
# thus update the code of the translation script to only
# look for companies with less than 100 counts
df['comp_name'].value_counts()

# already translated, how many in total
# ->> Fortum, 30
# ->> Peugeot, 
# ->> Seat,

engie                    957
adidas                   642
bmw                      538
volvo                    395
volkswagen               334
sse-plc                  327
jd-sports-fashion-plc    307
edf                      295
orsted                   289
rwe                      245
audi                     236
louis-vuitton            197
puma                     183
national-grid            179
h&m                      164
zara                     158
e.on                     135
porsche-ag               135
pandora-jewelry          129
renault                  115
bestseller               111
daimler-ag               109
unknown                   62
enel                      55
endesa                    35
fortum                    29
seat                      22
skoda                     19
primark                   17
peugeot                   12
gucci                      1
Name: comp_name, dtype: int64

In [11]:
# direct duplicates
print('Duplicated postings: {}'.format(sum(df['text_en'].duplicated())))
df['duplicated'] = df['text_en'].duplicated()

# companies that are not scored will be used for training
comps = list(df['comp_name'].unique())
training_comps = list(df['comp_name'].value_counts().loc[(df['comp_name'].value_counts() < 30)].index)
print('Number of companies with less than 30 postings: {}'.format(len(training_comps)))
test_comps = [comp for comp in comps if comp not in training_comps]
df['is_training'] = df['comp_name'].apply(lambda x: True if x in training_comps else False)

Duplicated postings: 407
Number of companies with less than 30 postings: 6

In [12]:
# retrieve indices of job_postings which are about to be dropped
unknowns = list(df.loc[df['comp_name'] == 'unknown'].index)
duplicates = list(df.loc[df['duplicated'] == True].index)
too_less = list(df.loc[df['is_training'] == True].index)

In [13]:
# drop job postings which are excluded from the training set
tic = df.shape[0]
df.drop(unknowns + duplicates + too_less, inplace=True, axis=0)
nb_rm = tic - df.shape[0]
print('Removed: {} from {}'.format(nb_rm, tic))

Removed: 553 from 6432

In [14]:
def calculate_remaining_time(start, time, nb_training_data):
    t_diff = time - start
    frac_todo = (df.shape[0] - nb_training_data) / df.shape[0]
    frac_done = 1 - frac_todo
    t_est = (t_diff / frac_done) - t_diff
    print('Est. Remaining Time: {}min'.format(round(t_est/60, 2)))

In [22]:
df.head()

,id,date,company,title,meta,text,src_lang,text_en,test_data,comp_name,duplicated,is_training
0,000715f8e90e7525,2020-11-20,adidas,Retail Assistant - 450 EUR Basis FO Brunnthal ...,Teilzeit,Zweck & Gesamtrelevanz fur die Organisation\nU...,de,Purpose and overall relevance to the organizat...,0,adidas,False,False
1,0009acde9b6ebbb4,2020-12-19,H&M,Vendeur (f/h) - CDI 25h - Mulhouse,None,Description de l'entreprise\n\nEs-tu prêt pour...,fr,Company Description\n\nAre you ready for a fas...,0,h&m,False,False
4,001a2dc8960b796f,2020-11-25,JD,Airport- Sales Assistant Full Time,None,Sales Assistant\nEstablished in 1981 with a si...,en,Sales Assistant\nEstablished in 1981 with a si...,0,jd-sports-fashion-plc,False,False
5,002c4b149ea7ce81,2020-11-19,Pandora Jewelry,"Manager, Consumer Insights",None,Are you an expert on consumer insights? And do...,en,Are you an expert on consumer insights? And do...,0,pandora-jewelry,False,False
8,0033ed62414f14d6,2021-02-07,ENGIE,Technical Services Manager,None,ENGIE is a leading energy and services company...,en,ENGIE is a leading energy and services company...,0,engie,False,False

In [16]:
df_sentence = pd.DataFrame(columns=['id', 'company', 'sentence'])
counter = 0
rows = 0
tic = time.time()
def make_sentences(row):
    global counter
    global rows
    jId = row[0]
    company = row[9]
    text = row[7]
    lines = text.split('\n')
    for line in lines:
        sentences = sent_tokenize(line)
        for sentence in sentences: 
            df_sentence.loc[counter] = [jId, company, sentence]
            counter += 1
    rows += 1
    if (rows % 500) == 0: 
        calculate_remaining_time(tic, time.time(), rows)

df.apply(lambda x: make_sentences(x), axis=1)

Est. Remaining Time: 16.0min
Est. Remaining Time: 16.91min
Est. Remaining Time: 18.68min
Est. Remaining Time: 21.39min
Est. Remaining Time: 21.72min
Est. Remaining Time: 21.37min
Est. Remaining Time: 20.13min
Est. Remaining Time: 17.84min
Est. Remaining Time: 32.17min
Est. Remaining Time: 21.28min
Est. Remaining Time: 9.18min

0        None
1        None
4        None
5        None
8        None
         ...
11009    None
11013    None
11014    None
11016    None
11017    None
Length: 5879, dtype: object

In [43]:
def is_short_sentence(sentence):
    return len(word_tokenize(sentence))

In [44]:
df_sentence['nb_tokens'] = df_sentence['sentence'].apply(lambda x: is_short_sentence(x))

In [45]:
df_sentence.head()

,id,sentence,too_short,comp_name,nb_tokens
0,000715f8e90e7525,Purpose and overall relevance to the organization,False,adidas,7
1,000715f8e90e7525,Assists in the implementation of our store processes (warehouse and area) and carries out the as...,False,adidas,21
2,000715f8e90e7525,Assists in ensuring that the range of goods is available to the customer by helping when goods h...,False,adidas,29
3,000715f8e90e7525,Responsibilities,True,adidas,1
4,000715f8e90e7525,"Preparation of goods (unpacking, securing, labeling, ironing out)",False,adidas,13

In [46]:
# Avg tokens per sentence 
df_sentence['nb_tokens'].mean()

13.903008875034299

In [47]:
# Std tokens in sentences
df_sentence['nb_tokens'].std()

11.957277161961427

In [50]:
# Exclude sentences with less than four words
df_relevant = df_sentence[df_sentence['nb_tokens'] >= 4]

In [61]:
test_comp_counter = {comp: 0 for comp in test_comps} 

def is_test(row):
    """
    The gets company name and job description text as input which are 
    sampled from the dataframe in random fashion. 
    It then adds 30 samples of each company to the test set. Each text is then stored
    in a file calles by the company. 
    The function returns True or False depending on whether the sample was 
    put in the test set or not. 
    """
    
    jId = row[0]
    company = row[1]
    if company in test_comp_counter.keys():
        if test_comp_counter[company] < 30:
            test_comp_counter[company] += 1
            return True
        else:
            return False

In [26]:
# randomly shuffles the rows of df and resets the indices
df_relevant = df_relevant.sample(frac=1).reset_index(drop=True)

In [51]:
df_red = df_relevant.drop_duplicates('id')

In [62]:
# apply the is_test function
df_red['is_testset'] = df_red[['id', 'comp_name']].apply(lambda x: is_test(x), axis=1)

<ipython-input-62-6d4472f7b4ab>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_red['is_testset'] = df_red[['id', 'comp_name']].apply(lambda x: is_test(x), axis=1)

In [67]:
#did we assign 30 jobs for each company to the test set?
df_red.is_testset.sum() == df_red.comp_name.nunique() * 30

True

In [70]:
df_relevant = df_relevant.merge(df_red[['id', 'is_testset']], on='id', how='left')

In [71]:
df_relevant.head()

,id,sentence,too_short,comp_name,nb_tokens,is_testset
0,000715f8e90e7525,Purpose and overall relevance to the organization,False,adidas,7,True
1,000715f8e90e7525,Assists in the implementation of our store processes (warehouse and area) and carries out the as...,False,adidas,21,True
2,000715f8e90e7525,Assists in ensuring that the range of goods is available to the customer by helping when goods h...,False,adidas,29,True
3,000715f8e90e7525,"Preparation of goods (unpacking, securing, labeling, ironing out)",False,adidas,13,True
4,000715f8e90e7525,Placement / filling of goods on the sales area,False,adidas,9,True

In [73]:
df_train_dev = df_relevant[df_relevant['is_testset']==False][['id', 'comp_name', 'sentence']]

In [74]:
df_test = df_relevant[df_relevant['is_testset']==True][['id', 'comp_name', 'sentence']]

In [ ]:
df